<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--起别名-->
    <typeAliases>
        <package name="com.itheima.pojo"/>
    </typeAliases>

    <!--由于要使用mybatis创建sqlSession对象和连接数据等, 所以直接从官网复制从XML创建sqlSessionFactory工厂, 然后将对应的sql语句在要执行的Servlet中调用, Servlet相当于处理所有的逻辑, 和执行定义好的SQL代码-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///db1?useSSL=false&amp;useServerPrepStmts=true"/><!--直接使用&在xml文件中无法识别, 所以使用转义字符&amp;的方式替代&符号, 开启了预编译防止sql注入的功能-->
                <property name="username" value="root"/>
                <property name="password" value="wjr107024"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--扫描mapper-->
        <package name="com.itheima.mapper"/>
    </mappers>
</configuration>